<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.matching.model">

	<!-- 공지사항 글쓰기 -->
	<insert id="insertNotice" parameterType="NoticeDTO">
		INSERT INTO notice VALUES(notice_num.nextval,#{writer},#{subject},sysdate,0,#{content})
	</insert>
	
	<select id="maxNum" resultType="int">
		SELECT max(num) FROM notice
	</select>
	
	<!-- 전체 공지사항 리스트 -->
	<select id="listNotice" resultType="NoticeDTO">
		<include refid="pagingHeader"></include>
		SELECT * FROM notice 
		<include refid="search3"></include>
		ORDER BY notice_date desc
		<include refid="pagingFooter"></include>
	</select>
	
	<!-- 전체 공지사항 레코드 수 -->
	<select id="countNotice" resultType="int">
		SELECT COUNT(*) FROM notice
		<!-- WHERE절을 include 태그로 삽입 -->
		<include refid="search3"></include>
	</select>
	
	<!-- 공지사항 값 가져오기 -->
	<select id="getNotice" resultType="NoticeDTO">
		SELECT * FROM notice WHERE num=#{num}
	</select>
	
	<!-- 조회수 -->
	<update id="plusReadCount" parameterType="int">
		UPDATE notice SET readcount=readcount+1 WHERE num=#{num}
	</update>
	
	<!-- 공지사항 수정 -->
	<update id="updateNotice" parameterType="NoticeDTO">
		UPDATE notice SET subject=#{subject},content=#{content} WHERE num=#{num}
	</update>
	
	<!-- 공지사항 삭제 -->
	<delete id="deleteNotice" parameterType="int">
		DELETE FROM notice WHERE num=#{num}
	</delete>
	
	<!-- 전체 공지사항 검색 sql -->
	<sql id="search3">
		<choose>
			<!-- 검색옵션이 전체일 경우 -->
			<when test="searchOption == 'all'">
				WHERE subject like '%'||#{keyword}||'%'
				OR content like '%'||#{keyword}||'%'
			</when>
			<!-- 전체 검색이 아닐 경우 -->
			<otherwise>
				<if test="keyword != ''">
				WHERE ${searchOption} like '%'||#{keyword}||'%'
				</if>
			</otherwise>
		</choose>
	</sql>

</mapper>